# .env.local
# Copy this file to .env.local and fill in your values
# NEVER commit .env.local to git

# -------------------------------------------
# Clerk Authentication
# Get these from https://dashboard.clerk.com
# -------------------------------------------
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWRhcHRlZC1kcmFnb24tOTguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_jN1N4l889R0Nfi5fxZQzb3KP4Ia1NEsz9N4NVNICZc

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# -------------------------------------------
# Supabase / PostgreSQL Database
# Get these from https://supabase.com/dashboard -> project -> settings -> database
# -------------------------------------------
# Connection pooling URL (used by Prisma at runtime)
#DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true

DATABASE_URLL=postgresql://postgres.plwdudxbyehxjpcwmakc:[EmyAmy1997@@@]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true

# Direct connection URL (used by Prisma migrations)
#DIRECT_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres

DIRECT_URL=postgresql://postgres:[EmyAmy1997@@@]@db.plwdudxbyehxjpcwmakc.supabase.co:5432/postgres




